<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>503928826320-j0c9g3d09hn432jauapsvm07bc6tgmpj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.503928826320-j0c9g3d09hn432jauapsvm07bc6tgmpj</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>503928826320-un15kb3kcn4dmrolgeodhurcjgbspmsc.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAHILkz5xplHZcCgIWmEl4Vy6_bUmuel4s</string>
	<key>GCM_SENDER_ID</key>
	<string>503928826320</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.stackedApp</string>
	<key>PROJECT_ID</key>
	<string>qaabl-mobile-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>qaabl-mobile-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:503928826320:ios:042e86478ab4cf97a0f1d5</string>
</dict>
</plist>